<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <h1>Early life</h1>
 <p>Reedus was born in Hollywood, Florida, the son of Marianne (née Yarber), a teacher, and Ira Norman Reedus. Reedus's paternal grandmother was of Italian descent, while his grandfather had English, Scottish, and Irish ancestry.[6] He attended Bethany College in Lindsborg, Kansas, for a semester. After living in Tokyo, he came to California to work at a Harley-Davidson shop in Venice, California, and contributed artwork to various shows as a painter, photographer, sculptor, and video artist.[1] He first acted in the play Maps for Drowners at the Tiffany Theater on Sunset Boulevard.[7] He was discovered at a bar in downtown Hollywood, singing and dancing where someone asked him if he wanted to act in a play.[8]
</p>   
</body>
</html>