<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>🧟</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <nav>
        <a href="/about">About</a>
        <a href="/works">Works</a>
        <a href="/gallery">Gallery</a>
    </nav>
    <header>
        <h1>Norman Reedus</h1>
    </header>
<div>
    <p>
        Norman Mark Reedus was born January 6 of 1969, he is an American actor. He is known for starring in the popular AMC horror drama series The Walking Dead as Daryl Dixon, in the film The Boondock Saints (1999) and its sequel The Boondock Saints II: All Saints Day (2009) as Murphy MacManus, as Scud in Marvel's Blade II (2002), Marco in Deuces Wild (2002), and for his AMC TV show Ride with Norman Reedus. He has acted in numerous films and television series, and modeled for various fashion designers (most recognizably Prada in the 1990s). Reedus also provided motion capture and voice acting for the lead character Sam Porter in the video game Death Stranding (2019).
    </p>
</div>
</body>
</html>