<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Works</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <h1>Films</h1>
    <table class="wikitable sortable jquery-tablesorter">

        <thead><tr>
        <th class="headerSort" tabindex="0" role="columnheader button" title="Sort ascending">Year
        </th>
        <th class="headerSort" tabindex="0" role="columnheader button" title="Sort ascending">Title
        </th>
        <th class="headerSort" tabindex="0" role="columnheader button" title="Sort ascending">Role
        </th>
        <th class="unsortable">Notes
        </th></tr></thead><tbody>
        <tr>
        <td rowspan="3">1997
        </td>
        <td><i><a href="/wiki/Floating_(film)" title="Floating (film)">Floating</a></i>
        </td>
        <td>Van
        </td>
        <td>
        </td></tr>
        <tr>
        <td><i><a href="/wiki/Mimic_(film)" title="Mimic (film)">Mimic</a></i>
        </td>
        <td>Jeremy
        </td>
        <td>
        </td></tr>
        <tr>
        <td><i><a href="/wiki/Six_Ways_to_Sunday" title="Six Ways to Sunday">Six Ways to Sunday</a></i>
        </td>
        <td>Harold
        </td>
        <td>
        </td></tr>
        <tr>
        <td rowspan="4">1998
        </td>
        <td><i><a href="/wiki/I%27m_Losing_You_(film)" title="I'm Losing You (film)">I'm Losing You</a></i>
        </td>
        <td>Toby
        </td>
        <td>
        </td></tr>
        <tr>
        <td><i><a href="/wiki/Reach_the_Rock" title="Reach the Rock">Reach the Rock</a></i>
        </td>
        <td>Danny
        </td>
        <td>
        </td></tr>
        <tr>
        <td><i><a href="/wiki/Dark_Harbor" title="Dark Harbor">Dark Harbor</a></i>
        </td>
        <td>Young Man
        </td>
        <td>
        </td></tr>
        <tr>
        <td><i>Davis Is Dead</i>
        </td>
        <td>Larry
        </td>
        <td>
        </td></tr>
        <tr>
        <td rowspan="3">1999
        </td>
        <td><i><a href="/wiki/Let_the_Devil_Wear_Black" title="Let the Devil Wear Black">Let the Devil Wear Black</a></i>
        </td>
        <td>Brautigan
        </td>
        <td>
        </td></tr>
        <tr>
        <td><i><a href="/wiki/8mm_(film)" title="8mm (film)">8mm</a></i>
        </td>
        <td>Warren Anderson
        </td>
        <td>
        </td></tr>
        <tr>
        <td><i><span data-sort-value="Boondock Saints, The"><span class="vcard"><span class="fn"><a href="/wiki/The_Boondock_Saints" title="The Boondock Saints">The Boondock Saints</a></span></span></span></i>
        </td>
        <td>Murphy MacManus
        </td>
        <td>
        </td></tr>
        <tr>
        <td rowspan="4">2000
        </td>
        <td><i><a href="/wiki/Beat_(2000_film)" title="Beat (2000 film)">Beat</a></i>
        </td>
        <td><a href="/wiki/Lucien_Carr" title="Lucien Carr">Lucien Carr</a>
        </td>
        <td>
        </td></tr>
        <tr>
        <td><i><a href="/wiki/Gossip_(2000_American_film)" title="Gossip (2000 American film)">Gossip</a></i>
        </td>
        <td>Travis
        </td>
        <td>
        </td></tr>
        <tr>
        <td><i>Bad Seed</i>
        </td>
        <td>Jonathan Casey
        </td>
        <td>
        </td></tr>
        <tr>
        <td><i><a href="/wiki/Sand_(2000_film)" title="Sand (2000 film)">Sand</a></i>
        </td>
        <td>Jack
        </td>
        <td>
        </td></tr>
        <tr>
        <td>2001
        </td>
        <td><i>The Beatnicks</i>
        </td>
        <td>Nick Nero
        </td>
        <td>
        </td></tr>
        <tr>
        <td rowspan="3">2002
        </td>
        <td><i><a href="/wiki/Luster_(film)" title="Luster (film)">Luster</a></i>
        </td>
        <td>Sextools Delivery Boy
        </td>
        <td>
        </td></tr>
        <tr>
        <td><i><a href="/wiki/Blade_II" title="Blade II">Blade II</a></i>
        </td>
        <td>'Scud'
        </td>
        <td>
        </td></tr>
        <tr>
        <td><i><a href="/wiki/Deuces_Wild" title="Deuces Wild">Deuces Wild</a></i>
        </td>
        <td>Marco Vendetti
        </td>
        <td>
        </td></tr>
        <tr>
        <td rowspan="4">2003
        </td>
        <td><i>Nobody Needs to Know</i>
        </td>
        <td>Kurt
        </td>
        <td>
        </td></tr>
        <tr>
        <td><i>Tough Luck</i>
        </td>
        <td>Archie
        </td>
        <td>
        </td></tr>
        <tr>
        <td><i><a href="/wiki/Octane_(film)" title="Octane (film)">Octane</a></i>
        </td>
        <td>Recovery Man
        </td>
        <td>
        </td></tr>
        <tr>
        <td><i><a href="/wiki/Overnight" title="Overnight">Overnight</a></i>
        </td>
        <td>Himself
        </td>
        <td><a href="/wiki/Documentary_film" title="Documentary film">Documentary film</a>
        </td></tr>
        <tr>
        <td rowspan="2">2004
        </td>
        <td><i><a href="/wiki/Until_the_Night_(film)" title="Until the Night (film)">Until the Night</a></i>
        </td>
        <td>Robert
        </td>
        <td>
        </td></tr>
        <tr>
        <td><i>Great Wall Great Medicine</i>
        </td>
        <td>Norman
        </td>
        <td>
        </td></tr>
        <tr>
        <td rowspan="2">2005
        </td>
        <td><i> <a href="/wiki/Antibodies_(film)" title="Antibodies (film)">Antibodies</a></i>
        </td>
        <td>Polizist Schmitz
        </td>
        <td>
        </td></tr>
        <tr>
        <td><i><span data-sort-value="Notorious Bettie Page, The"><span class="vcard"><span class="fn"><a href="/wiki/The_Notorious_Bettie_Page" title="The Notorious Bettie Page">The Notorious Bettie Page</a></span></span></span></i>
        </td>
        <td>Billy Neal
        </td>
        <td>
        </td></tr>
        <tr>
        <td rowspan="4">2006
        </td>
        <td><i>Walls</i>
        </td>
        <td>Henry Flesh
        </td>
        <td><a href="/wiki/Short_film" title="Short film">Short film</a>
        </td></tr>
        <tr>
        <td><i><span data-sort-value="Crime, A"><span class="vcard"><span class="fn"><a href="/wiki/A_Crime" title="A Crime">A Crime</a></span></span></span></i>
        </td>
        <td>Vincent Harris
        </td>
        <td>
        </td></tr>
        <tr>
        <td><i>I Thought of You</i>
        </td>
        <td>Unknown
        </td>
        <td>Short film; <br>Also writer and director
        </td></tr>
        <tr>
        <td><i>Killer Queen</i>
        </td>
        <td>Jack Trust
        </td>
        <td>
        </td></tr>
        <tr>
        <td rowspan="2">2007
        </td>
        <td><i><a href="/wiki/American_Gangster_(film)" title="American Gangster (film)">American Gangster</a></i>
        </td>
        <td>Detective Norman Reilly
        </td>
        <td>
        </td></tr>
        <tr>
        <td><i><a href="/wiki/Moscow_Chill" title="Moscow Chill">Moscow Chill</a></i>
        </td>
        <td>Ray Perso
        </td>
        <td>
        </td></tr>
        <tr>
        <td rowspan="8">2008
        </td>
        <td><i><a href="/wiki/Hero_Wanted" title="Hero Wanted">Hero Wanted</a></i>
        </td>
        <td>Swain
        </td>
        <td><a href="/wiki/Direct-to-DVD" class="mw-redirect" title="Direct-to-DVD">Direct-to-DVD</a>
        </td></tr>
        <tr>
        <td><i>Meet Me in Berlin</i>
        </td>
        <td>Unnamed American
        </td>
        <td>Short film
        </td></tr>
        <tr>
        <td><i><a href="/wiki/Red_Canyon_(2008_film)" title="Red Canyon (2008 film)">Red Canyon</a></i>
        </td>
        <td>Mac
        </td>
        <td>
        </td></tr>
        <tr>
        <td><i>Dead*Line</i>
        </td>
        <td>Seth
        </td>
        <td rowspan="2">Short film
        </td></tr>
        <tr>
        <td><i><a href="/wiki/Clown_(film)" title="Clown (film)">Clown</a></i>
        </td>
        <td>Lucien
        </td></tr>
        <tr>
        <td><i><a href="/wiki/Cadillac_Records" title="Cadillac Records">Cadillac Records</a></i>
        </td>
        <td>Chess Records Engineer
        </td>
        <td>
        </td></tr>
        <tr>
        <td><i>Echoes of Extinction</i>
        </td>
        <td>Eric Richards
        </td>
        <td>
        </td></tr>
        <tr>
        <td><i>Styrofoam Soul</i>
        </td>
        <td>Joe
        </td>
        <td>
        </td></tr>
        <tr>
        <td rowspan="4">2009
        </td>
        <td><i>The Chase</i>
        </td>
        <td>Dangerous Guy
        </td>
        <td>
        </td></tr>
        <tr>
        <td><i><a href="/wiki/Messengers_2:_The_Scarecrow" title="Messengers 2: The Scarecrow">Messengers 2: The Scarecrow</a></i>
        </td>
        <td>John Rollins
        </td>
        <td>Direct-to-DVD
        </td></tr>
        <tr>
        <td><i><a href="/wiki/Pandorum" title="Pandorum">Pandorum</a></i>
        </td>
        <td>Shepard
        </td>
        <td>
        </td></tr>
        <tr>
        <td><i><span data-sort-value="Boondock Saints II: All Saints Day, The"><span class="vcard"><span class="fn"><a href="/wiki/The_Boondock_Saints_II:_All_Saints_Day" title="The Boondock Saints II: All Saints Day">The Boondock Saints II: All Saints Day</a></span></span></span></i>
        </td>
        <td>Murphy MacManus
        </td>
        <td>
        </td></tr>
        <tr>
        <td rowspan="4">2010
        </td>
        <td><i>Meskada</i>
        </td>
        <td>Dennis Burrows
        </td>
        <td>
        </td></tr>
        <tr>
        <td><i><span data-sort-value="Conspirator, The"><span class="vcard"><span class="fn"><a href="/wiki/The_Conspirator" title="The Conspirator">The Conspirator</a></span></span></span></i>
        </td>
        <td><a href="/wiki/Lewis_Powell_(conspirator)" title="Lewis Powell (conspirator)">Lewis Payne</a>
        </td>
        <td>
        </td></tr>
        <tr>
        <td><i>Ollie Klublershturf vs. The Nazis</i>
        </td>
        <td>Barry
        </td>
        <td>Short film
        </td></tr>
        <tr>
        <td><i>8 Uhr 28</i>
        </td>
        <td>Stranger
        </td>
        <td>
        </td></tr>
        <tr>
        <td>2011
        </td>
        <td><i><a href="/wiki/Hello_Herman" title="Hello Herman">Hello Herman</a></i>
        </td>
        <td>Lax Morales
        </td>
        <td>
        </td></tr>
        <tr>
        <td>2012
        </td>
        <td><i>Night of the Templar</i>
        </td>
        <td>Henry Flesh
        </td>
        <td>
        </td></tr>
        <tr>
        <td rowspan="3">2013
        </td>
        <td><i><a href="/wiki/Iron_Man:_Rise_of_Technovore" title="Iron Man: Rise of Technovore">Iron Man: Rise of Technovore</a></i>
        </td>
        <td><a href="/wiki/Punisher_(comics)" class="mw-redirect" title="Punisher (comics)">Frank Castle / The Punisher</a> (voice)
        </td>
        <td>Direct-to-DVD
        </td></tr>
        <tr>
        <td><i><a href="/wiki/Sunlight_Jr." title="Sunlight Jr.">Sunlight Jr.</a></i>
        </td>
        <td>Justin
        </td>
        <td>
        </td></tr>
        <tr>
        <td><i><a href="/wiki/Pawn_Shop_Chronicles" title="Pawn Shop Chronicles">Pawn Shop Chronicles</a></i>
        </td>
        <td>Stanley
        </td>
        <td>
        </td></tr>
        <tr>
        <td>2014
        </td>
        <td><i><a href="/wiki/Stretch_(2014_film)" title="Stretch (2014 film)">Stretch</a></i>
        </td>
        <td>Himself
        </td>
        <td rowspan="2">Cameo
        </td></tr>
        <tr>
        <td rowspan="3">2015
        </td>
        <td><i><a href="/wiki/Vacation_(2015_film)" title="Vacation (2015 film)">Vacation</a></i>
        </td>
        <td>Truck Driver
        </td></tr>
        <tr>
        <td><i><a href="/wiki/Air_(2015_film)" title="Air (2015 film)">Air</a></i>
        </td>
        <td>Bauer
        </td>
        <td>Also executive producer
        </td></tr>
        <tr>
        <td><i><a href="/wiki/Sky_(2015_film)" title="Sky (2015 film)">Sky</a></i>
        </td>
        <td>Diego
        </td>
        <td>
        </td></tr>
        <tr>
        <td>2016
        </td>
        <td><i><a href="/wiki/Triple_9" title="Triple 9">Triple 9</a></i>
        </td>
        <td>Russel Welch
        </td>
        <td>
        </td></tr>
        <tr>
        <td>2017
        </td>
        <td><i><a href="/wiki/Alien_Invasion:_S.U.M.1" title="Alien Invasion: S.U.M.1">Alien Invasion: S.U.M.1</a></i>
        </td>
        <td>K.E.R.4 (voice)
        </td>
        <td>
        </td></tr>
        <tr>
        <td>2018
        </td>
        <td><i>The Limit </i>
        </td>
        <td>Max
        </td>
        <td>Short film
        </td></tr></tbody><tfoot></tfoot></table>
        
        <div>
            <h1>Television</h1>
        </div>
        <div>
            <table class="wikitable sortable jquery-tablesorter">

                <thead><tr>
                <th class="headerSort" tabindex="0" role="columnheader button" title="Sort ascending">Year
                </th>
                <th class="headerSort" tabindex="0" role="columnheader button" title="Sort ascending">Title
                </th>
                <th class="headerSort" tabindex="0" role="columnheader button" title="Sort ascending">Role
                </th>
                <th class="unsortable">Notes
                </th></tr></thead><tbody>
                <tr>
                <td>2003
                </td>
                <td><i><a href="/wiki/Charmed" title="Charmed">Charmed</a></i>
                </td>
                <td>Nate Parks
                </td>
                <td>2 episodes
                </td></tr>
                <tr>
                <td>2005
                </td>
                <td><i><a href="/wiki/Masters_of_Horror" title="Masters of Horror">Masters of Horror</a></i>
                </td>
                <td>Kirby
                </td>
                <td>Episode: "<a href="/wiki/John_Carpenter%27s_Cigarette_Burns" class="mw-redirect" title="John Carpenter's Cigarette Burns">John Carpenter's Cigarette Burns</a>"
                </td></tr>
                <tr>
                <td rowspan="2">2006
                </td>
                <td><i><a href="/wiki/Law_%26_Order:_Special_Victims_Unit" title="Law &amp; Order: Special Victims Unit">Law &amp; Order: Special Victims Unit</a></i>
                </td>
                <td>Derek Lord
                </td>
                <td>Episode: "Influence"
                </td></tr>
                
                <tr>
                <td><i>13 Graves</i>
                </td>
                <td>Norman
                </td>
                <td><a href="/wiki/Television_film" title="Television film">Television film</a>
                </td></tr>
                <tr>
                <td>2009
                </td>
                <td><i>The Chase</i>
                </td>
                <td>Dangerous Guy #1
                </td>
                <td><a href="/wiki/Web_series" title="Web series">Web series</a>
                </td></tr>
                <tr>
                <td>2010
                </td>
                <td><i><a href="/wiki/Hawaii_Five-0_(2010_TV_series)" title="Hawaii Five-0 (2010 TV series)">Hawaii Five-0</a></i>
                </td>
                <td>Anton Hesse
                </td>
                <td>Episode: "<a href="/wiki/Pilot_(Hawaii_Five-0)" title="Pilot (Hawaii Five-0)">Pilot</a>"
                </td></tr>
                <tr>
                <td>2010–present
                </td>
                <td><i><span data-sort-value="Walking Dead, The"><span class="vcard"><span class="fn"><a href="/wiki/The_Walking_Dead_(TV_series)" title="The Walking Dead (TV series)">The Walking Dead</a></span></span></span></i>
                </td>
                <td><a href="/wiki/Daryl_Dixon" title="Daryl Dixon">Daryl Dixon</a>
                </td>
                <td>Recurring, 4 episodes (season 1) <br> Main cast, 136 episodes (season 2–present)
                </td></tr>
                <tr>
                <td rowspan="3">2016
                </td>
                <td><i><a href="/wiki/American_Dad!" title="American Dad!">American Dad!</a></i>
                </td>
                <td>Tim (voice)
                </td>
                <td>Episode: "Hayley Smith, Seal Team Six"
                </td></tr>
                <tr>
                <td><i><a href="/wiki/Turbo_FAST" class="mw-redirect" title="Turbo FAST">Turbo FAST</a></i>
                </td>
                <td>Wild Pete (voice)
                </td>
                <td>Episode: "The Good, The Bad, and the Bugly"<sup id="cite_ref-36" class="reference"><a href="#cite_note-36">[36]</a></sup>
                </td></tr>
                <tr>
                <td><i><a href="/wiki/Voltron:_Legendary_Defender" title="Voltron: Legendary Defender">Voltron: Legendary Defender</a></i>
                </td>
                <td>Rolo (voice)
                </td>
                <td>Episode: "Taking Flight"
                </td></tr>
                <tr>
                <td>2016–present
                </td>
                <td><i><a href="/wiki/Ride_with_Norman_Reedus" title="Ride with Norman Reedus">Ride with Norman Reedus</a></i>
                </td>
                <td>Himself (host)
                </td>
                <td>24 episodes
                </td></tr>
                <tr>
                <td>2017
                </td>
                <td><i><a href="/wiki/Robot_Chicken" title="Robot Chicken">Robot Chicken</a></i>
                </td>
                <td>Daryl Dixon (voice)
                </td>
                <td>Episode: "The Robot Chicken Walking Dead Special: Look Who's Walking"
                </td></tr>
                <tr>
                <td>2018
                </td>
                <td><i><a href="/wiki/Ballmastrz:_9009" title="Ballmastrz: 9009">Ballmastrz: 9009</a></i>
                </td>
                <td>Bacchus LaBrute (voice)
                </td>
                <td>Episode: "Leather Passions! 2 Hearts, 2 Wheelz, Infinite Roadz. Ride Now!"
                </td></tr>
                <tr>
                <td>2021
                </td>
                <td><i><a href="/wiki/Helluva_Boss" title="Helluva Boss">Helluva Boss</a></i>
                </td>
                <td>Striker (voice)
                </td>
                <td>Episode: "The Harvest Moon Festival"; web series<sup id="cite_ref-37" class="reference"><a href="#cite_note-37">[37]</a></sup>
                </td></tr>
                <tr>
                <td>2021
                </td>
                <td><i>The Walking Dead: Origins</i>
                </td>
                <td><a href="/wiki/Daryl_Dixon" title="Daryl Dixon">Daryl Dixon</a> / Himself
                </td>
                <td>Episode: "Daryl's Story"
                </td></tr></tbody><tfoot></tfoot></table>
        </div>
        <div>
            <h1>Videogames</h1>
        </div>
        <div>
            <table class="wikitable sortable jquery-tablesorter">

                <thead><tr>
                <th class="headerSort" tabindex="0" role="columnheader button" title="Sort ascending">Year
                </th>
                <th class="headerSort" tabindex="0" role="columnheader button" title="Sort ascending">Title
                </th>
                <th class="headerSort" tabindex="0" role="columnheader button" title="Sort ascending">Voice role
                </th>
                <th class="unsortable">Notes
                </th></tr></thead><tbody>
                <tr>
                <td>2013
                </td>
                <td><i><a href="/wiki/The_Walking_Dead:_Survival_Instinct" title="The Walking Dead: Survival Instinct">The Walking Dead: Survival Instinct</a></i>
                </td>
                <td><a href="/wiki/Daryl_Dixon" title="Daryl Dixon">Daryl Dixon</a>
                </td>
                <td>Based on the TV series
                </td></tr>
                <tr>
                <td>2014
                </td>
                <td><i><a href="/wiki/P.T._(video_game)" title="P.T. (video game)">P.T.</a></i>
                </td>
                <td>Protagonist
                </td>
                <td rowspan="2"><a href="/wiki/Motion-capture_acting" title="Motion-capture acting">Motion capture</a>
                </td></tr>
                <tr>
                <td>2019
                </td>
                <td><i><a href="/wiki/Death_Stranding" title="Death Stranding">Death Stranding</a></i>
                </td>
                <td>Sam Porter Bridges
                </td></tr>
                <tr>
                <td rowspan="2">2020
                </td>
                <td><i>The Walking Dead: Onslaught</i>
                </td>
                <td rowspan="3">Daryl Dixon
                </td>
                <td>Voice and likeness
                </td></tr>
                <tr>
                <td><i><a href="/wiki/Fortnite_Battle_Royale" title="Fortnite Battle Royale">Fortnite Battle Royale</a></i>
                </td>
                <td>Likeness
                </td></tr>
                <tr>
                <td>2021
                </td>
                <td><i>State of Survival</i>
                </td>
                <td>Hero Model
                </td></tr></tbody><tfoot></tfoot></table>
        </div>
</body>
</html>